::-webkit-scrollbar {
  width:  5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}
::-webkit-scrollbar-thumb:active {
  background: #ff0000;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.slayder,header,.bizeUlasin .card{background-image: url('../img/global/sliderBg.png')}

body{
    overflow-y: scroll
}

.bizeUlasin a{
    display: inline-block!important;
    color: #6c757d!important;
}
.bizeUlasin .card{
    background-size: 13px;
    height: 299px
}